<div class="container new">
  <div class="col-md-3">
    <ul>
      <li class="caption">Images should be:
        <ol>
          <li>Large splash image at least 1300px X 600px</li>
          <li>Another large splash image at least 1300px X 600px</li>
          <li>A png, or white background, product image</li>
        </ol>
      </li>
      <li class="caption">Descriptions should be:
        <ol>
          <li>A tagline</li>
          <li>A somewhat longer tagline</li>
          <li>A long descrption of the item</li>
        </ol>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h1 class="text-center">Edit Product</h1>
    <%= render "form" %>
  </div>
</div>
