<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @products.each_with_index do |product, index| %>
        <li data-target="#myCarousel" data-slide-to="<%= index %>" <% if index == 0 %> class="active" <% end %>></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @products.each_with_index do |product, index| %>
          <div <% if index == 0 %> class="item active" <% else %> class="item" <% end %>>
            <img class="first-slide" src="<%= product.images[1] %>" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1><%= product.descriptions[0] %></h1>
              </div>
            </div>
          </div>
        <% end %>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
